body {
  font-family: Arial, sans-serif;
  background-image: url('Foto.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
  
.container {
  max-width: 400px;
  margin: 10px auto;
  background-color: #ffffff6e;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.titulo {
  text-align: center;
  margin-top: 20px;
  font-size: 50px; 
  font-family: 'Times New Roman', Times, serif;
  color: #090872;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
  
h2 {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 0;
  font-size: 32px; 
}
  
.form-group {
  margin-bottom: 20px;
}
  
label {
  display: block;
  margin-bottom: 5px;
}
  
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;    
  border: 1px solid #0c0c0c79;
  border-radius: 10px;
}
  
button {
  width: 100%;
  padding: 10px;
  background-color: #2011ee;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  
}
  
button:hover {
  background-color: #0056b3;
}
  
p {
  margin-top: 10px;
  text-align: center;
}
  
a {
  color: #007bff;
}
  